body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.kalkulator {
    background-color: #fff;
    background-repeat: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

input[type="text"] {
    width: 300px;
    padding: 20px;
    margin-bottom: 15px;
    font-size: 24px;
    bottom: none;
    background-color: #444;
    color: #fff;
    text-align: right;
    box-shadow: inset 5px 5px 1px rgba(0, 0, 0, 25);
}

.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.tombol {
    width: 100%;
    padding: 15px;
    font-style: 20px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 30);
    cursor: pointer;
    transition: transform 0.1s;
}

.tombol:active {
    background-color: #777;
    transform: scale(0.95);
}

.tombol:hover {
    background-color: #777;
}

.tombolHasil:active {
    background-color: #777;
    transform: scale(0.95);
}

.tombolHasil:hover {
    background-color: #777;
}

.tombolHasil {
    width: 100%;
    padding: 15px;
    font-style: 20px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: span 3;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 30);
}